{% macro form(l,required = "") %}
  <form action="" method="post" enctype="multipart/form-data">
    {% for i in l %}
      <div class="infos">
      <label for="{{ i }}" >{{ i }}:</br></label>
        {% if "Password" in i %}
          {% set t = "password" %}
        {% elif (i == "Remember Me")or(i == "Confirm Picture Delete") %}
          {% set t = "checkbox" %}
        {% elif "Email" in i %}
          {% set t = "email" %}
        {% elif i == "Matricule" %}
          {% set t = "number" %}
        {% elif "Cover" in i %}
          {% set t = "file" %}
        {% else %}
          {% set t = "text" %}
        {% endif %}
        {% if i == "Description" %}
          <textarea name="{{ i|lower }}" {{ required }}></textarea>
        {% elif i in ["Specialite","annee"] %}
          {% set choices = {"Specialite":['info','bio', 'ch', 'eln', 'gp', 'auto', 'mi', 'st', 'snv', 'gm', 'geo', 'ph', 'math','custom'],"annee":["l1","l2","l3","m1","m2","dc"]} %}
          {% set sub_choices = {"Specialite":{'info': 'Informatique', 'bio': 'Biologie', 'ch': 'Chimie', 'eln': 'Electronique', 'gp': 'G\xc3\xa9nie des Proc\xc3\xa9d\xc3\xa9s', 'auto': 'Automatique', 'mi': 'MI', 'st': 'ST', 'snv': 'SNV', 'gm': 'G\xc3\xa9nie M\xc3\xa9canique', 'custom': 'Autres..', 'geo': 'G\xc3\xa9ologie', 'ph': 'T\xc3\xa9lecommunications', 'math': 'Math\xc3\xa9matiques'},"annee":{"l1":"L1","l2":"L2","l3":"L3","m1":"M1","m2":"M2","dc":"Doctorat"}} %}
          <select name="{{ i|lower }}" >
            {% for j in choices[i] %}
              <option value="{{ j }}">{{ sub_choices[i][j] }}</option>
            {% endfor %}
          </select>
        {% elif t == "checkbox" %}
          <input type="{{ t }}" name="{{ i|lower }}" />
        {% else %}
          <input type="{{ t }}" name="{{ i|lower }}" {{ required }}/>
        {% endif %}
      </div>
    {% endfor %}
    <div id="submit">
      <input type="submit" value="Submit" />
    </div>
  </form>
{% endmacro %}

{% macro styled_form(l,h = "",ls = "",required = "") %}
  <div id="form">
    <div id="logo1">
      <img src="{{ url_for("static",filename="img/logo.png") }}" alt="OMC Coding Platform" width="100px" height="100px" />
      <p>Ce Qui Ne Se Partage Pas Se Perd</p>
      {% if h != "" %}
      <h1>{{ h }}</h1>
      {% endif %}
    </div>
    {{ form(l,required) }}
    {{ flash() }}
    {% if request.path == "/admin/shell/" %}
      <ul>
        {% for i in ls.split("\n") %}
          {% if i != "" %}
            <li>{{ i }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if request.path == "/login/" %}
    <nav id="login_opt">
      <a href="/reset/" id="pw">Forgot Your Password</a>
      <a href="/register/" id="ac">Create An Account</a>
    </nav>
    {% endif %}
  </div>
{% endmacro %}

{% macro flash() %}
  {% set me = get_flashed_messages(category_filter=["error"]) %}
  {% set ms = get_flashed_messages(category_filter=["succes"]) %}
  {% for i in [me,ms] %}
    {% if i %}
      {% if i == me %}
        {% set clr = "red" %}
      {% else %}
        {% set clr = "green" %}
      {% endif %}
      <ul>
      {% for j in i %}
        <li style="color:{{ clr }}" >{{ j }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endmacro %}
